:root {
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
  --familyFont: "Outfit", sans-serif;
}

/* CSS BASIC RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* LAYOUT */

body {
  display: grid;
  place-content: center;
  padding: 1rem;

  color: var(--GrayishBlue);
  font-size: 0.9375rem;
  font-family: var(--familyFont);
  background-color: var(--LightGray);
}

.qrcode__container {
  background-color: var(--White);
  border-radius: 1.25rem;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
  max-width: 20rem;
  padding: 1rem 1rem 2.5rem 1rem;
  text-align: center;
}

.qrcode__img {
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  transition: 1s;
}

.qrcode__img img {
  transition: 0.5s;
}

.qrcode__img:hover {
  transform: rotate(180deg);
}

.qrcode__img img:hover {
  transform: scale(1.5);
}

h1 {
  color: var(--DarkBlue);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 28px;
}

p {
  line-height: 19px;
  padding: 1rem 1rem 0 1rem;
}
